<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cymplar 2</title>
  <base href="<%= APP_BASE %>">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- csslib:css -->
  <!-- endinject -->
  
  <!-- inject:css -->
  <!-- endinject -->

</head>
<body data-app-version="<%= APP_VERSION %>">

  <div ui-view></div>

  <!-- jslib:js -->
  <!-- endinject -->
  
  <script>
    System.import('bootstrap')
      .catch(function (e) {
        console.error(e);
      });
  </script>

</body>
</html>
