<div class="grid-block vertical">
	<div class="grid-content center-panel">
		<div class="page-head">
			<div class="padding-box">
				<h3 class="uppercase title">All Leads</h3>
			</div>
			<!--padding-box-->
		</div>
		<!--page-head-->

		<div class="padding-box">

			<div class="row">
				<div class="col-lg-9 col-sm-8">
					<input type="text" class="form-control margin-b" placeholder="Find lead by name">
				</div>
				<!--col-xs-8
				<div class="col-lg-2 col-sm-3 col-xs-12">
					<a href="" class="btn btn-default btn-block margin-b"><i class="glyphicon glyphicon-search"></i> Find Leads</a>
				</div>-->
				<!--col-xs-2-->
				<div class="col-lg-3 col-sm-4 col-xs-6">
					<a ui-sref="main.newLead({status:'opportunity'})" class="btn btn-primary btn-block margin-b-l">+ Add New Lead</a>
				</div>
				<!--col-xs-2
				<div class="col-lg-1 col-sm-2 col-xs-6">
					<div class="dropdown margin-b-l">
						<a id="dLabel" class="btn btn-default btn-block" data-target="#" href="http://example.com" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
							<li><a href="#">Action</a></li>
							<li><a href="#">Action</a></li>
						</ul>
					</div>
					
				</div>-->
				<!--col-xs-1-->
			</div>
			<!--row-->
			<pre ng-hide="true">{{alCtrl.beautifiedLeads}}</pre>
			<table class="table mobile-table">
				<thead>
					<tr>
						<th ng-hide="true">
							<input type="checkbox">
						</th>
						<th>Lead Name <a ng-click="alCtrl.orderBy('name')"><i class="fa fa-caret-down"></i></span></a></th>
						<th>Main Contact </th>
						<th>Next Schedule task</th>
						<th>Status <a ng-hide="true" ng-click="alCtrl.orderBy('status')"><i class="fa fa-caret-down"></i></span></a></th>
						<th>Date Created<a ng-click="alCtrl.orderBy('createdAt')"><i class="fa fa-caret-down"></i></span></a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lead in alCtrl.allLeads">
						<!--data-title is required for mobile table-->
						<td  ng-hide="true" data-title="Choose">
							<input type="checkbox">
						</td>
						<td data-title="Lead name"> <a ng-click="alCtrl.$state.go('main.selectedLead',{id: lead._id, lead: lead}); alCtrl.$LeadRESTService.selectedLead = lead;">{{lead.name}}</a></td>
						<td data-title="Main contact">
							{{lead.contacts.contact.name}}
						</td>
						<td data-title="Next Schedule task">
							<span ng-if="lead.nextFollowUp.length==0">Not scheduled</span>
							<span ng-if="lead.nextFollowUp.length>0">{{lead.nextFollowUp[0].dateTime | date:'dd/MM/yyyy'}}</span>
						</td>
						<td data-title="Status">{{lead.leadStatuses[lead.currentStatus].label}}</td>
						<td data-title="Date Created">{{lead.createdAt | date: 'dd/MM/yyyy' }}</td>
					</tr>

				</tbody>
			</table>

		</div>
		<!--padding-box-->
	</div>
	
	<!--grid-content-->
</div>
<!--center panel-->