<!--card-->
<log-item item="sbCtrl.logItem"></log-item>
<div class="card">
	<div class="row">
		<div class="col-md-3">
			<h4 class="title">
                                    <a class="red-link">
                                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                                        Notes  
                                    </a>
                                </h4>
			<p class="time"><small> Today at 8:45pm</small></p>
		</div>
		<!--col-md-3-->
		<div class="col-md-9">
			<h5><strong>By John V.</strong></h5>
			<div class="limit-width">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor pharetra
					commodo.
				</p>
			</div>
		</div>
		<!--col-md-9-->

		<div class="dropdown control">
			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
			</ul>
		</div>
		<!--dropdown -->
	</div>
	<!--row-->
</div>
<!--card-->

<div class="card">
	<div class="row">
		<div class="col-md-3">
			<h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                        Follow Ups   
                                    </a>
                                </h4>
			<p class="time"><small> Today at 8:45pm</small></p>
		</div>
		<!--col-md-3-->
		<div class="col-md-9">
			<h5><strong>By John V.</strong></h5>
			<div class="limit-width">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor pharetra
					commodo.
				</p>
			</div>
		</div>
		<!--col-md-9-->

		<div class="dropdown control">
			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
			</ul>
		</div>
		<!--dropdown -->
	</div>
	<!--row-->
</div>
<!--card-->

<div class="card">
	<div class="row">
		<div class="col-md-3">
			<h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                        Meeting   
                                    </a>
                                </h4>
			<p class="time"><small> Today at 8:45pm</small></p>
		</div>
		<!--col-md-3-->
		<div class="col-md-9">
			<h5><strong>By John V.</strong></h5>
			<div class="limit-width">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor pharetra
					commodo.
				</p>
			</div>
		</div>
		<!--col-md-9-->

		<div class="dropdown control">
			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
			</ul>
		</div>
		<!--dropdown -->
	</div>
	<!--row-->
</div>
<!--card-->

<div class="card">
	<div class="row">
		<div class="col-md-3">
			<h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        Communications
                                    </a>
                                </h4>
			<p class="time"><small> Today at 8:45pm</small></p>
		</div>
		<!--col-md-3-->
		<div class="col-md-9">
			<h5><strong>By John V.</strong></h5>
			<div class="limit-width">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor pharetra
					commodo.
				</p>
			</div>
		</div>
		<!--col-md-9-->

		<div class="dropdown control">
			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
			</ul>
		</div>
		<!--dropdown -->
	</div>
	<!--row-->
</div>
<!--card-->