<ul class="nav nav-tabs post-categorie margin-b" role="tablist">
	<li role="presentation" ng-class="{'active': slCtrl.itemTypeIndex == slCtrl.commIndex}">
		<a aria-controls="home" role="tab" ng-click="slCtrl.itemTypeIndex = slCtrl.commIndex">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Communications
		</a>
	</li>
	<li role="presentation" ng-class="{'active': slCtrl.itemTypeIndex == slCtrl.noteIndex}">
		<a aria-controls="profile" role="tab" ng-click="slCtrl.itemTypeIndex = slCtrl.noteIndex">
			<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Notes
		</a>
	</li>
	<li role="presentation" ng-class="{'active': slCtrl.itemTypeIndex == slCtrl.fwupIndex}">
		<a aria-controls="messages" role="tab" ng-click="slCtrl.itemTypeIndex = slCtrl.fwupIndex">
			<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Follow Ups
		</a>
	</li>
	<li role="presentation" ng-class="{'active': slCtrl.itemTypeIndex == slCtrl.meetIndex}">
		<a aria-controls="settings" role="tab" ng-click="slCtrl.itemTypeIndex = slCtrl.meetIndex">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Meeting
		</a>
	</li>
</ul>
<!--nav nav-tabs-->

<div class="tab-content">
	<form ng-submit="slCtrl.addLogItem()" name="addLogItem">
		<div role="tabpanel" class="tab-pane active">
			<div class="row">
				<div class="col-sm-12" ng-if="slCtrl.itemTypeIndex == slCtrl.commIndex || slCtrl.itemTypeIndex == slCtrl.noteIndex">
					<textarea rows="2" placeholder="Comment" required class="form-control margin-b" ng-model="slCtrl.newLogItem.content"></textarea>
				</div>

				<div class=" margin-b-s" ng-if="slCtrl.itemTypeIndex == slCtrl.meetIndex || slCtrl.itemTypeIndex == slCtrl.fwupIndex" ng-class="{'col-sm-4':slCtrl.itemTypeIndex == slCtrl.meetIndex,'col-sm-6':slCtrl.itemTypeIndex == slCtrl.fwupIndex }">
					<strong>Date / Time</strong>

					<div class="input-group">
						<input type="text" class="form-control" readonly datetime-picker="dd/MM/yyyy HH:mm" ng-model="slCtrl.datePicker" is-open="slCtrl.dateOpen"
						close-on-date-selection="false" />
						<span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="slCtrl.dateOpen = !slCtrl.dateOpen"><i class="fa fa-calendar"></i></button>
            				</span>

					</div>

					<p ng-show="slCtrl.pleasePickADate" style="color:#c9302c"><b>Please pick a date</b></p>
				</div>
				<!--col-md-4-->
				<div class="col-sm-4 margin-b-s" ng-if="slCtrl.itemTypeIndex == slCtrl.meetIndex">
					<strong>Location</strong>
					<input type='text' class="form-control" required ng-model="slCtrl.newLogItem.location" />
				</div>
				<!--col-md-4-->
				<div class=" margin-b-s" ng-if="slCtrl.itemTypeIndex == slCtrl.meetIndex || slCtrl.itemTypeIndex == slCtrl.fwupIndex" ng-class="{'col-sm-4':slCtrl.itemTypeIndex == slCtrl.meetIndex,'col-sm-6':slCtrl.itemTypeIndex == slCtrl.fwupIndex}">
					<strong>Comment</strong>
					<input type="text" class="form-control margin-b" required ng-model="slCtrl.newLogItem.content">
				</div>


				<!--col-md-12-->
				<div class="col-sm-9" ng-hide="true">
					<div class="margin-b-s">
						<input id="input-file" type="file">
						<label for="input-file" class="pointer">
							<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
							<strong>Attach a file</strong>
						</label>
					</div>
					<div class="tag">
						Docname.doc
						<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
					</div>
					<!--tag-->
				</div>
				<!--col-md-9-->
			</div>
			<div class="row">
				<div class="col-sm-3 text-right pull-right">
					<input type="submit" class="btn btn-default send-btn" value="Send">
				</div>
				<!--col-md-3-->
			</div>
			<!--row-->
		</div>
	</form>
	<!--tab-pane-->


</div>
<!--tab-content-->