<strong>Info</strong>
<input class="form-control input-sm margin-b-s" type="text" placeholder="input"  ng-model="$stateParams.lead.name">


<strong>Contact name</strong>

<div class="tags-wrap margin-b-s">
	<div class="tag">
		Steven F.
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
	<div class="tag">
		Jo
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
	<div class="tag">
		Stan
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
</div>
<!--tags-wrap-->

<div class="field-with-icon margin-b-s">
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	<select class="form-control input-sm">
		<option>Steven F.</option>
		<option>Stan</option>
		<option>Jo</option>
	</select>
</div>
<!--field-with-icon-->

<div class="field-with-icon margin-b-s">
	<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
	<input class="form-control input-sm" type="text" placeholder="input" value="+123456789">
</div>
<!--field-with-icon-->

<div class="field-with-icon margin-b-s">
	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
	<input class="form-control input-sm" type="text" placeholder="input" value="steven@mail.com">
</div>
<!--field-with-icon-->

<div class="field-with-icon margin-b-l">
	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
	<input class="form-control input-sm" type="text" placeholder="input" value="@steven_f">
</div>
<!--field-with-icon-->

<strong>Opportunity Name / Contract</strong>
<input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="Training">

<strong>Status</strong>
<select class="form-control input-sm margin-b-l">
	<option>Opportunity</option>
	<option>Lead-Hot</option>
	<option>Lead-Warm</option>
	<option>Lead-Cold</option>
	<option>Contract Signed</option>
	<option>Lost/Inactive</option>
</select>

<strong>Percentage</strong>
<input type="range" class="range margin-b-s">
<input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="25000">

<a href="#" class="btn btn-primary btn-block">Save changes</a>