<a class="btn btn-primary btn-block" ng-hide="slrbCtrl.editing" style="margin-bottom:10px" ng-click="slrbCtrl.startEditing()">Edit</a>
<a class="btn btn-primary btn-block" ng-show="slrbCtrl.editing" style="margin-bottom:10px" ng-click="slrbCtrl.submitEditing()">Save changes</a>
<strong>Info</strong>
<h5 ng-hide="slrbCtrl.editing">{{$stateParams.lead.name}}</h5>
<input class="form-control input-sm margin-b-s" type="text" ng-show="slrbCtrl.editing" placeholder="input" ng-model="slrbCtrl.editingLead.name">


<strong>Contacts</strong>

<div class="tags-wrap margin-b-s" ng-show="slrbCtrl.editing">
	<div class="tag">
		Steven F.
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
	<div class="tag">
		Jo
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
	<div class="tag">
		Stan
		<span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
	</div>
	<!--tag-->
</div>
<!--tags-wrap-->
<div ng-hide="slrbCtrl.editing">
	<div class="field-with-icon margin-b-s">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		<select class="form-control input-sm" ng-model="slrbCtrl.selectedContact" ng-options="contact as contact.name for contact in slrbCtrl.contacts">
		</select>
	</div>
	<!--field-with-icon-->

	<div class="field-with-icon margin-b-s">
		<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
		<input class="form-control input-sm" type="text" placeholder="Not set" ng-model="slrbCtrl.selectedContact.contactNumber" readonly>
	</div>
	<!--field-with-icon-->

	<div class="field-with-icon margin-b-s">
		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		<input class="form-control input-sm" type="text" placeholder="Not set" ng-model="slrbCtrl.selectedContact.email" readonly>
	</div>
	<!--field-with-icon-->

	<div class="field-with-icon margin-b-l">
		<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
		<input class="form-control input-sm" type="text" placeholder="Not set" ng-model="slrbCtrl.selectedContact.website" readonly>
	</div>
	<!--field-with-icon-->
</div>
<strong>Description</strong>
<h5 ng-hide="slrbCtrl.editing">{{$stateParams.lead.contract || 'No description'}}</h5>
<input class="form-control input-sm margin-b-l" type="text" placeholder="Enter description" ng-show="slrbCtrl.editing" ng-model="slrbCtrl.editingLead.contract">

<strong>Status</strong>
<h5 ng-hide="slrbCtrl.editing">{{$stateParams.lead.status}}</h5>
<select class="form-control input-sm margin-b-l" ng-show="slrbCtrl.editing">
	<option>Opportunity</option>
	<option>Lead-Hot</option>
	<option>Lead-Warm</option>
	<option>Lead-Cold</option>
	<option>Contract Signed</option>
	<option>Lost/Inactive</option>
</select>

<strong>Percentage</strong>
<input type="range" class="range margin-b-s">
<input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="25000">



<a class="btn btn-danger btn-block" ng-hide="slrbCtrl.editing && slrbCtrl.roleInLead.role.code == 'OWNER'" ng-click="slrbCtrl.deleteLead()">Delete lead</a>
<a class="btn btn-danger btn-block" ng-show="slrbCtrl.editing" ng-click="slrbCtrl.editing = false">Cancel editing</a>