<div class="grid-content center-panel">
	<div class="page-head">
		<div class="padding-box">
			<h3 class="uppercase title">{{slCtrl.$LeadRESTService.selectedLead.name}}</h3>
			<ul class="lead-nav">
				<li ng-class="{'current': slCtrl.showLog}">
					<a ng-click="slCtrl.showLog = true">
						<span class="glyphicon glyphicon-home" ></span> Main
					</a>
				</li>
				<li ng-class="{'current': !slCtrl.showLog}">
					<a ng-click="slCtrl.showLog = false">
						<span class="glyphicon glyphicon-comment" ></span> Chat
					</a>
				</li>
			</ul>
			<!--lead-nav-->
		</div>
		<!--padding-box-->
		<div class="sub-bar" ng-class="{'filter-box':slCtrl.showLog}">
			<strong class="uppercase filter-title" ng-show="slCtrl.showLog">Filter:</strong>
			<ul class="filter l_tinynav1" ng-show="slCtrl.showLog">
				<li ng-class="{'selected': slCtrl.queryTypeIndex == -1}">
					<a ng-click="slCtrl.queryTypeIndex = -1">
						<span class="glyphicon glyphicon-list-alt" ></span> All
					</a>
				</li>
				<li ng-class="{'selected': slCtrl.queryTypeIndex == slCtrl.commIndex}">
					<a ng-click="slCtrl.queryTypeIndex = slCtrl.commIndex">
						<span class="glyphicon glyphicon-comment" ></span> Communications
					</a>
				</li>
				<li ng-class="{'selected': slCtrl.queryTypeIndex == slCtrl.noteIndex}">
					<a ng-click="slCtrl.queryTypeIndex = slCtrl.noteIndex" >
						<span class="glyphicon glyphicon-pushpin" ></span> Notes
					</a>
				</li>
				<li ng-class="{'selected': slCtrl.queryTypeIndex == slCtrl.fwupIndex}">
					<a ng-click="slCtrl.queryTypeIndex = slCtrl.fwupIndex">
						<span class="glyphicon glyphicon-arrow-up" ></span> Follow Ups
					</a>
				</li>
				<li ng-class="{'selected': slCtrl.queryTypeIndex == slCtrl.meetIndex}">
					<a ng-click="slCtrl.queryTypeIndex = slCtrl.meetIndex" >
						<span class="glyphicon glyphicon-globe"></span> Meeting
					</a>
				</li>
				<li>
					<!--<a ng-class="{'selected': slCtrl.queryTypeIndex == slCtrl.Index}">
						<span class="glyphicon glyphicon-file" ></span> Documents
					</a>-->
				</li>
			</ul>
			<select class="tinynav" ng-options="option.value as option.label for option in slCtrl.optionFilters" ng-model="slCtrl.queryTypeIndex"></select>
			<!--filter-->
			<div class="tags-wrap margin-b-n" ng-hide="slCtrl.showLog">
				<div class="tag">
					Steven F.
					<span class="glyphicon glyphicon-remove delete"></span>
				</div>
				<!--tag-->
				<div class="tag">
					Jo
					<span class="glyphicon glyphicon-remove delete"></span>
				</div>
				<!--tag-->
				<div class="tag">
					Stan
					<span class="glyphicon glyphicon-remove delete"></span>
				</div>
				<!--tag-->
			</div>
		</div>
		<!--filter-box-->
	</div>
	<!--page-head-->
	
	<div class="padding-box feed" style="overflow:auto;height:100%">
		<ng-include src="'components/lead/log.html'"  ng-show="slCtrl.showLog"></ng-include>
		<ng-include src="'components/lead/chat.html'" ng-hide="slCtrl.showLog"></ng-include>
		
	</div>
	
</div>
<!--grid-content-->
<button ng-disabled="slCtrl.$LogItemRESTService.loadingMore" ng-show="slCtrl.$LogItemRESTService.loadMore" class="btn load-more-btn btn-info btn-block" style="height:35px;" ng-click="slCtrl.$LogItemRESTService.loadMoreLogItem()" >Load more <i class="fa fa-spinner" ng-class="{'fa-spin':slCtrl.$LogItemRESTService.loadingMore}" ng-show="slCtrl.$LogItemRESTService.loadingMore"></i> </button>
<button disabled="true" ng-hide="slCtrl.$LogItemRESTService.loadMore" class="btn load-more-btn btn-block" style="height:35px;"  >There is no more item to be loaded  </button>
<div class="form-box-wrap grid-content shrink">
	<div class="form-btn" ng-class="{'active':slCtrl.smallFormOpen}" ng-click="slCtrl.smallFormOpen = !slCtrl.smallFormOpen;"></div>
	<div class="form-box" ng-class="{'visible':slCtrl.smallFormOpen}">
		<ng-include src="'components/lead/log_form.html'" ng-show="slCtrl.showLog"></ng-include>
		<ng-include src="'components/lead/chat_form.html'" ng-hide="slCtrl.showLog"></ng-include>
	</div>
</div>
<!--form-box-wrap-->

<!--center panel-->