<div class="grid-frame vertical">

  <div class="top-panel">

    <div class="nav-btn left-panel-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <a href="#" class="logo">
      <img src="img/logo-white.png">
    </a>

    <span class="right-panel-btn">Info</span>

  </div>
  <!--top-bar-->

  <div class="grid-block">
    <div class="side-panel left-panel">
      <div class="search-bar-wrap">
        <form class="search-bar">
          <input type="text" class="field" placeholder="Search">
          <label for="submit-btn" class="label-submit-btn">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </label>
          <input id="submit-btn" type="submit" value="">
        </form>
      </div>
      <!--search-bar-wrap-->

      <div class="dropdown margin-b user-area">
        <div class="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="main.showToastr()">
          <div class="user-photo">
            <img src="img/user-photo.jpg">
          </div>
          <!--user-photo"-->
          John Lastname
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu full-width" aria-labelledby="dLabel">
          <li class="current check"><a href="">John Lastname</a></li>
          <li><a href="">Company Profile</a></li>
          <li class="divider"></li>
          <li><a href="">Settings</a></li>
          <li><a href="">Help</a></li>
          <li class="divider"></li>
          <li><a href="login.html">Logout</a></li>
        </ul>
      </div>
      <!--dropdown-->

      <div class="aside-block">

        <h5 class="uppercase title">
                    <span class="glyphicon glyphicon-star left-icon" aria-hidden="true"></span> 
                    <strong>Sales</strong>
                </h5>

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse1">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My leads
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse in" id="collapse1">
          <ul class="main-nav">
            <li class="current"><a href="">Ford-training</a></li>
            <li><a href="">Slim-Solutions</a></li>
            <li><a href="">Neuli-Website</a></li>
            <li><a href="">Costco-mufirtc</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse2">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Opportunities
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse2">
          <ul class="main-nav">
            <li><a href="">Ford-training</a></li>
            <li><a href="">Slim-Solutions</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse3">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Signed Contracts
                </h5>
        <div class="collapse" id="collapse3">
          <ul class="main-nav">
            <li><a href="">Ford-training</a></li>
            <li><a href="">Slim-Solutions</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse4">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Lost/Inacative
                </h5>
        <div class="collapse" id="collapse4">
          <ul class="main-nav">
            <li><a href="">Ford-training</a></li>
            <li><a href="">Slim-Solutions</a></li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->

      <div class="aside-block">
        <h5 class="uppercase title">
                    <span class="glyphicon glyphicon-comment left-icon" aria-hidden="true"></span>
                    <strong>Chat</strong>
                </h5>

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse7">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Team chat
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </h5>
        <div class="collapse" id="collapse7">
          <ul class="main-nav">
            <li><a href="">Tim <span class="badge white">12</span></a></li>
            <li><a href="">Jo <span class="badge white">4</span></a></li>
            <li><a href="">George <span class="badge white">4</span></a></li>
            <li><a href="">Steven  <span class="badge white">2</span></a></li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->
      <div class="aside-block">
        <h5 class="uppercase title">
                    <span class="glyphicon glyphicon-book left-icon" aria-hidden="true"></span>
                    <strong>My Address book</strong>
                </h5>
        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse8">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    Companies/Groups
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse8">
          <ul class="main-nav">
            <li><a href="">Holdem </a></li>
            <li><a href="">Toyota </a></li>
            <li><a href="">Neuli </a></li>
            <li><a href="">Stark  </a></li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->
    </div>
    <!--left panel-->

    <div class="grid-block vertical">
      <div class="grid-content center-panel">
        <div class="page-head">
          <div class="padding-box">
            <h3 class="uppercase title">Ford-training</h3>
            <ul class="lead-nav">
              <li class="current">
                <a href="dashbord.html">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Main
                </a>
              </li>
              <li>
                <a href="lead-chat.html">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Chat
                </a>
              </li>
            </ul>
            <!--lead-nav-->
          </div>
          <!--padding-box-->
          <div class="filter-box sub-bar">
            <strong class="uppercase filter-title">Filter:</strong>
            <ul class="filter l_tinynav1">
              <li class="selected">
                <a href="">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> All
                </a>
              </li>
              <li>
                <a href="">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Communications
                </a>
              </li>
              <li>
                <a href="">
                  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Notes
                </a>
              </li>
              <li>
                <a href="">
                  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Follow Ups
                </a>
              </li>
              <li>
                <a href="">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Meeting
                </a>
              </li>
              <li>
                <a href="">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Documents
                </a>
              </li>
            </ul>
            <!--filter-->
          </div>
          <!--filter-box-->
        </div>
        <!--page-head-->

        <div class="padding-box feed">

          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        Communications
                                    </a>
                                </h4>
                <p class="time"><small> Today at 8:45pm</small></p>
              </div>
              <!--col-md-3-->
              <div class="col-md-9">
                <h5><strong>By John V.</strong></h5>
                <div class="limit-width">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor
                    pharetra commodo.</p>
                </div>
              </div>
              <!--col-md-9-->

              <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
              <!--dropdown -->
            </div>
            <!--row-->
          </div>
          <!--card-->

          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                                        Notes  
                                    </a>
                                </h4>
                <p class="time"><small> Today at 8:45pm</small></p>
              </div>
              <!--col-md-3-->
              <div class="col-md-9">
                <h5><strong>By John V.</strong></h5>
                <div class="limit-width">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor
                    pharetra commodo.</p>
                </div>
              </div>
              <!--col-md-9-->

              <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
              <!--dropdown -->
            </div>
            <!--row-->
          </div>
          <!--card-->

          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                        Follow Ups   
                                    </a>
                                </h4>
                <p class="time"><small> Today at 8:45pm</small></p>
              </div>
              <!--col-md-3-->
              <div class="col-md-9">
                <h5><strong>By John V.</strong></h5>
                <div class="limit-width">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor
                    pharetra commodo.</p>
                </div>
              </div>
              <!--col-md-9-->

              <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
              <!--dropdown -->
            </div>
            <!--row-->
          </div>
          <!--card-->

          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                        Meeting   
                                    </a>
                                </h4>
                <p class="time"><small> Today at 8:45pm</small></p>
              </div>
              <!--col-md-3-->
              <div class="col-md-9">
                <h5><strong>By John V.</strong></h5>
                <div class="limit-width">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor
                    pharetra commodo.</p>
                </div>
              </div>
              <!--col-md-9-->

              <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
              <!--dropdown -->
            </div>
            <!--row-->
          </div>
          <!--card-->

          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <h4 class="title">
                                    <a href="" class="red-link">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        Communications
                                    </a>
                                </h4>
                <p class="time"><small> Today at 8:45pm</small></p>
              </div>
              <!--col-md-3-->
              <div class="col-md-9">
                <h5><strong>By John V.</strong></h5>
                <div class="limit-width">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate id tellus eget dapibus. Fusce tempor
                    pharetra commodo.</p>
                </div>
              </div>
              <!--col-md-9-->

              <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
              <!--dropdown -->
            </div>
            <!--row-->
          </div>
          <!--card-->

        </div>
        <!--padding-box-->
      </div>
      <!--grid-content-->

      <div class="form-box-wrap grid-content shrink">
        <div class="form-btn"></div>
        <div class="form-box">
          <ul class="nav nav-tabs post-categorie margin-b" role="tablist">
            <li role="presentation" class="active">
              <a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Communications
              </a>
            </li>
            <li role="presentation">
              <a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Notes
              </a>
            </li>
            <li role="presentation">
              <a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Follow Ups
              </a>
            </li>
            <li role="presentation">
              <a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Meeting
              </a>
            </li>
          </ul>
          <!--nav nav-tabs-->

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="tab1">
              <div class="row">
                <div class="col-sm-12">
                  <textarea rows="2" placeholder="Communication" class="form-control margin-b"></textarea>
                </div>
                <!--col-md-12-->
                <div class="col-sm-9">
                  <div class="margin-b-s">
                    <input id="input-file" type="file">
                    <label for="input-file" class="pointer">
                      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                      <strong>Attach a file</strong>
                    </label>
                  </div>
                  <div class="tag">
                    Docname.doc
                    <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
                  </div>
                  <!--tag-->
                </div>
                <!--col-md-9-->
                <div class="col-sm-3 text-right">
                  <input type="submit" class="btn btn-default send-btn" value="Send">
                </div>
                <!--col-md-3-->
              </div>
              <!--row-->
            </div>
            <!--tab-pane-->

            <div role="tabpanel" class="tab-pane" id="tab2">
              <div class="row">
                <div class="col-sm-12">
                  <textarea rows="2" placeholder="Notes" class="form-control margin-b"></textarea>
                </div>
                <!--col-md-12-->
                <div class="col-sm-9">
                  <div class="margin-b-s">
                    <input id="input-file" type="file">
                    <label for="input-file" class="pointer">
                      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                      <strong>Attach a file</strong>
                    </label>
                  </div>
                </div>
                <!--col-md-9-->
                <div class="col-sm-3 text-right">
                  <input type="submit" class="btn btn-default send-btn" value="Send">
                </div>
                <!--col-md-3-->
              </div>
              <!--row-->
            </div>
            <!--tab-pane-->

            <div role="tabpanel" class="tab-pane" id="tab3">
              <div class="row">
                <div class="col-sm-6 margin-b-s">
                  <strong>Date / Time</strong>
                  <input type='text' class="form-control" id='datetimepicker1' />
                </div>
                <!--col-md-6-->
                <div class="col-sm-6 margin-b-s">
                  <strong>Comment</strong>
                  <input type="text" class="form-control margin-b">
                </div>
                <!--col-md-6-->
                <div class="col-sm-12 text-right">
                  <input type="submit" class="btn btn-default send-btn" value="Send">
                </div>
                <!--col-md-12-->
              </div>
              <!--row-->
            </div>
            <!--tab-pane-->

            <div role="tabpanel" class="tab-pane" id="tab4">
              <div class="row">
                <div class="col-sm-4 margin-b-s">
                  <strong>Date / Time</strong>
                  <input type='text' class="form-control" id='datetimepicker2' />
                </div>
                <!--col-md-4-->
                <div class="col-sm-4 margin-b-s">
                  <strong>Location</strong>
                  <input type='text' class="form-control" id='datetimepicker1' />
                </div>
                <!--col-md-4-->
                <div class="col-sm-4 margin-b-s">
                  <strong>Comment</strong>
                  <input type="text" class="form-control margin-b">
                </div>
                <!--col-md-6-->
                <div class="col-sm-12 text-right">
                  <input type="submit" class="btn btn-default send-btn" value="Send">
                </div>
                <!--col-md-12-->
              </div>
              <!--row-->
            </div>
            <!--tab-pane-->
          </div>
          <!--tab-content-->
        </div>
        <!--form-box-->
      </div>
      <!--form-box-wrap-->
    </div>
    <!--center panel-->

    <div class="side-panel right-panel">

      <strong>Info</strong>
      <input class="form-control input-sm margin-b-s" type="text" placeholder="input" value="Ford">
      <input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="Trainig">

      <strong>Contact name</strong>

      <div class="tags-wrap margin-b-s">
        <div class="tag">
          Steven F.
          <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
        </div>
        <!--tag-->
        <div class="tag">
          Jo
          <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
        </div>
        <!--tag-->
        <div class="tag">
          Stan
          <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
        </div>
        <!--tag-->
      </div>
      <!--tags-wrap-->

      <div class="field-with-icon margin-b-s">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <select class="form-control input-sm">
          <option>Steven F.</option>
          <option>Stan</option>
          <option>Jo</option>
        </select>
      </div>
      <!--field-with-icon-->

      <div class="field-with-icon margin-b-s">
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        <input class="form-control input-sm" type="text" placeholder="input" value="+123456789">
      </div>
      <!--field-with-icon-->

      <div class="field-with-icon margin-b-s">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <input class="form-control input-sm" type="text" placeholder="input" value="steven@mail.com">
      </div>
      <!--field-with-icon-->

      <div class="field-with-icon margin-b-l">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <input class="form-control input-sm" type="text" placeholder="input" value="@steven_f">
      </div>
      <!--field-with-icon-->

      <strong>Opportunity Name / Contract</strong>
      <input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="Training">

      <strong>Status</strong>
      <select class="form-control input-sm margin-b-l">
        <option>Opportunity</option>
        <option>Lead-Hot</option>
        <option>Lead-Warm</option>
        <option>Lead-Cold</option>
        <option>Contract Signed</option>
        <option>Lost/Inactive</option>
      </select>

      <strong>Percentage</strong>
      <input type="range" class="range margin-b-s">
      <input class="form-control input-sm margin-b-l" type="text" placeholder="input" value="25000">

      <a href="#" class="btn btn-primary btn-block">Save changes</a>

    </div>
    <!--right panel-->
  </div>
  <!--grid-block-->
</div>
<!--grid-frame-->


<div class="blackout left"></div>
<div class="blackout right"></div>