<div class="padding-box">        
                            
    <h3>Edit, add or delete stage</h3>
    
    <li ng-repeat="status in accOrgStgCtrl.organization.projectDefaultStatuses">
        
        <div class="card">
            <h5><strong>{{status.label}}</strong></h5>
                                        
            <div class="progress margin-b-n">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{status.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status.value}}%;">
                    {{status.value}}%
                </div>
            </div>

            <div class="dropdown control">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" ng-click="accOrgStgCtrl.edit($index)" ng-show="accOrgStgCtrl.isAuthorized()">Edit</a></li>
                    <li><a href="" ng-click="accOrgStgCtrl.delete($index)" ng-show="accOrgStgCtrl.isAuthorized()">Delete</a></li>
                </ul>
            </div><!--dropdown -->
        </div>

    </li>          
        
    <p><a href="" ng-click="accOrgStgCtrl.edit(-1)"  ng-show="accOrgStgCtrl.isAuthorized()" class="btn btn-primary">Add stage</a></p>
    <p><a href="" ng-click="accOrgStgCtrl.saveChanges()" ng-show="accOrgStgCtrl.isAuthorized()"  ng-disabled="accOrgStgCtrl.errors>0" class="btn btn-primary">Save changes</a></p>
    
</div><!--padding-box-->

