<div class="grid-frame vertical">
  <div class="top-panel">

    <div class="nav-btn left-panel-btn" ng-class="{'active':navCtrl.leftPanelOpen}" ng-click="navCtrl.leftPanelOpen = !navCtrl.leftPanelOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <a ui-sref="main.dashboard" class="logo">
      <img src="img/logo-white.png">
    </a>

    <span class="right-panel-btn" ng-show="navCtrl.displayInfo" ng-click="navCtrl.leftPanelOpen = false; navCtrl.rightPanelOpen = ! navCtrl.rightPanelOpen">Info</span>

  </div>
  <!--top-bar-->

  <div class="grid-block">
    <div class="side-panel left-panel" ng-class="{'visible':navCtrl.leftPanelOpen}">
      <div class="search-bar-wrap" ng-if="navCtrl.displaySearchBar">
        <form class="search-bar" name="searchBarForm" ng-submit="navCtrl.submitQuery()">
          <input type="text" class="field" placeholder="Search" ng-model="navCtrl.queryString">
          <label for="submit-btn" class="label-submit-btn">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </label>
          <input id="submit-btn" type="submit" value="">
        </form>
      </div>
      <!--search-bar-wrap-->

      <div class="dropdown margin-b user-area">
        <div class="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="user-photo">
            <img style="max-height:40px" src="img/default_user.jpg">
          </div>
          <!--user-photo"-->
          {{navCtrl.user.firstName + " " +navCtrl.user.lastName}}
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu full-width" aria-labelledby="dLabel">
          <li class="current check"><a href="">{{navCtrl.user.firstName + " " +navCtrl.user.lastName}}</a></li>
          <li><a href="">Company Profile</a></li>
          <li class="divider"></li>
          <li><a href="">Settings</a></li>
          <li><a href="">Help</a></li>
          <li class="divider"></li>
          <li><a ng-click="navCtrl.logout()">Logout</a></li>
        </ul>
      </div>
      <!--dropdown-->

      <div class="aside-block">

        <h5 class="uppercase title">
                    <span class="glyphicon glyphicon-star left-icon" aria-hidden="true"></span> 
                    <a href="" ui-sref="main.allLeads"><strong>Sales</strong></a>
                </h5>

        <h5 class="sub-title sub-title notification" data-toggle="collapse" data-target="#collapse1">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true" ></span>
                    My leads
                    <a href="" class="create-btn" title="create new" ui-sref="main.newLead({status:'lead'})">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse1">
          <ul class="main-nav">
            <li ng-class="{'current': navCtrl.$state.params.id == lead._id && navCtrl.$state.current.name == 'main.selectedLead'}"
              ng-repeat=" lead in navCtrl.$LeadRESTService.allLeadsCached | filter: {status: navCtrl.coldStatus} ">
              <a ng-click="navCtrl.$state.go('main.selectedLead',{id: lead._id, lead: lead});navCtrl.$LeadRESTService.selectedLead = lead;navCtrl.console.log(navCtrl.$LeadRESTService.selectedLead)">{{lead.name}}</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse2">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Opportunities
                    <a href="" class="create-btn" title="create new" ui-sref="main.newLead({status:'opportunity'})">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse2">
          <ul class="main-nav">
            <li ng-class="{'current': navCtrl.$state.params.id == lead._id && navCtrl.$state.current.name == 'main.selectedLead'}"
                ng-repeat=" lead in navCtrl.$LeadRESTService.allLeadsCached | filter: {status: navCtrl.opporturnityStatus} ">
              <a ng-click="navCtrl.$state.go('main.selectedLead',{id: lead._id, lead: lead});navCtrl.$LeadRESTService.selectedLead = lead;navCtrl.console.log(navCtrl.$LeadRESTService.selectedLead)">{{lead.name}}</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse3">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Signed Contracts
                </h5>
        <div class="collapse" id="collapse3">
          <ul class="main-nav">
            <li ng-class="{'current': navCtrl.$state.params.id == lead._id && navCtrl.$state.current.name == 'main.selectedLead'}"
             ng-repeat=" lead in navCtrl.$LeadRESTService.allLeadsCached | filter: {status: navCtrl.signedStatus} ">
              <a ng-click="navCtrl.$state.go('main.selectedLead',{id: lead._id, lead: lead});navCtrl.$LeadRESTService.selectedLead = lead;navCtrl.console.log(navCtrl.$LeadRESTService.selectedLead)">{{lead.name}}</a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse4">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Lost/Inactive
                </h5>
        <div class="collapse" id="collapse4">
          <ul class="main-nav">
            <li ng-class="{'current': navCtrl.$state.params.id == lead._id && navCtrl.$state.current.name == 'main.selectedLead'}"
               ng-repeat=" lead in navCtrl.$LeadRESTService.allLeadsCached | filter: navCtrl.inactiveOrLostFilter ">
               <a ng-click="navCtrl.$state.go('main.selectedLead',{id: lead._id, lead: lead});navCtrl.$LeadRESTService.selectedLead = lead;navCtrl.console.log(navCtrl.$LeadRESTService.selectedLead)">{{lead.name}}</a></li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->

      <div class="aside-block">
        <h5 class="uppercase title">
                    <span class="glyphicon glyphicon-comment left-icon" aria-hidden="true"></span>
                    <strong>Chat</strong>
                </h5>

        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse5">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Leads chat
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Latest Comments</a></li>
                            <li><a href="#">A-Z</a></li>
                            <li><a href="#">Z-A</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse5">
          <ul class="main-nav">
            <li><a href="">Slim-Solutions</a></li>
            <li><a href="">Neuli-Website  <span class="badge white">12</span></a></li>
            <li><a href="">Costco-mufirtc  <span class="badge white">4</span></a></li>
          </ul>
        </div>
        <!--collapse-->

        <h5 class="sub-title notificationgreen" data-toggle="collapse" data-target="#collapse6">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Opportunities chat 
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                           <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Latest Comments</a></li>
                            <li><a href="#">A-Z</a></li>
                            <li><a href="#">Z-A</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse6">
          <ul class="main-nav">
            <li><a class="sub-title notificationgreen" href="">Ford-training <span class="badge white">12</span></a></li>
          </ul>
        </div>
        <!--collapse-->


        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse7">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    My Team chat
                    <a href="" class="create-btn" title="create new">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>

                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Latest Comments</a></li>
                            <li><a href="#">A-Z</a></li>
                            <li><a href="#">Z-A</a></li>
                        </ul>
                    </div>
                </h5>
        <div class="collapse" id="collapse7">
          <ul class="main-nav">
            <li><a href="">Tim <span class="badge white">12</span></a></li>
            <li><a href="">Jo <span class="badge white">4</span></a></li>
            <li><a href="">George <span class="badge white">4</span></a></li>
            <li class="current"><a href="">Steven  <span class="badge white">2</span></a></li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->
      <div class="aside-block">
        <h5 class="uppercase title">
          <span class="glyphicon glyphicon-book left-icon" aria-hidden="true"></span>
          <strong><a href="" ui-sref="main.addressBook.allCompanies"> My Address book <a/> </strong>
        </h5>
        <h5 class="sub-title" data-toggle="collapse" data-target="#collapse8">
                    <span class="glyphicon glyphicon-chevron-down left-icon" aria-hidden="true"></span>
                    Companies/Groups
                    <a href="" class="create-btn" title="Create new companies/group" ui-sref="main.addressBook.newCompany">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <!--<div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="current"><a href="#">All</a></li>
                            <li><a href="#">Overdue</a></li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Unread Changes</a></li>
                        </ul>
                    </div>-->
                </h5>
        <div class="collapse in" id="collapse8">
          <ul class="main-nav">
            <li ng-repeat="company in navCtrl.companies" ng-class="{'current': navCtrl.$state.params.id == company._id && navCtrl.$state.current.name == 'main.addressBook.selectedCompany'}">
              <a ng-click="navCtrl.$state.go('main.addressBook.selectedCompany',{id: company._id, company: company});navCtrl.$AddressBookRESTService.selectedCompany = company;navCtrl.console.log(navCtrl.$AddressBookRESTService.selectedCompany)"
              href="">{{company.name}}</a>
            </li>
          </ul>
        </div>
        <!--collapse-->
      </div>
      <!--aside-block-->
    </div>
    <!--left panel-->
    <!-- ui view here-->

    <div ng-transclude="" transclude-from="main" class="grid-block vertical"></div>
    <div ng-transclude="" ng-show="navCtrl.displayInfo" ng-class="{'visible':navCtrl.rightPanelOpen}" transclude-from="right" class="side-panel right-panel">
  </div>
</div>


<div class="blackout left" ng-class="{'show-black-out':navCtrl.leftPanelOpen || navCtrl.rightPanelOpen}"></div>
<div class="blackout right"></div>