<div class="padding-box">
    <div class="limit-width">
        <ul class="list-line">
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Username</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrProfCtrl.user.username}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>First Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrProfCtrl.user.firstName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Middle Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrProfCtrl.user.middleName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
             <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Last Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrProfCtrl.user.lastName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <!--<div class="col-sm-4">
                        <strong>Picture</strong>	
                    </div>
                    <div class="col-sm-4">
                        {{accUsrProfCtrl.user.picture}}	
                    </div>-->
                    <div class="col-sm-4" align="right">
                        <a href="" ng-click="accUsrProfCtrl.editProfile(accUsrProfCtrl.user)">Edit</a>
                    </div><!--col-sm-4-->
                </div>
                
            </li>
        </ul>

    </div><!--limit-width-->
</div><!--padding-box-->

