<div class="margin-b-xl">
	<h3 class="margin-n"><strong>Sign up</strong></h3>
	<p class="margin-b-n" ng-hide="false">You are almost there</p>
</div>

<div class="progress margin-b-xl">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">2/3</div>
</div>

<div class="input-group margin-b-l" ng-hide="true">
	<input type="text" class="form-control input-lg" value="myorganistaion.cymplar.com" readonly>
	<div class="input-group-addon"><a href="">Edit link</a></div>
</div>

<p class="margin-b-l"><strong class="text-danger">*</strong> required fields</p>

<form class="form-horizontal" name="step2Form" ng-submit="suCtrl.submitStep2(step2Form)">
	<div class="form-group">
		<div class="col-md-5 control-label">
			<label for="country" class="margin-b-n"><strong class="text-danger">*</strong> Country</label>
		</div>
		<div class="col-md-7">
			
			<select class="form-control" id="country" name="country" required ng-options="country._id as country.name for country in suCtrl.countries" ng-model="suCtrl.signUpDetails.country" ng-change="suCtrl.countryChanged()">
				<option></option>
			</select>
		</div>
	</div>
	<!--form-group-->
	<div class="form-group">
		<div class="col-md-5 control-label">
			<label for="city" class="margin-b-n"><strong class="text-danger">*</strong> City</label>
			<i class="fa fa-spinner pull-right fa-lg fa-spin" ng-show="suCtrl.queryingCity"></i>
		</div>
		<div class="col-md-7">
			<select class="form-control" ng-disabled="suCtrl.disableCity" id="city" name="city" ng-options="city as city.name for city in suCtrl.availableCities" ng-model="suCtrl.signUpDetails.city" ng-required="suCtrl.availableCities.length > 0">
				<option value=""></option>
			</select>
		</div>
	</div>
	<!--form-group-->
	<div class="form-group">
		<div class="col-md-5 control-label">
			<label for="suburb" class="margin-b-n">Suburb</label>
		</div>
		<div class="col-md-7">
			<input type="text" class="form-control" id="suburb" ng-model="suCtrl.signUpDetails.suburb">
		</div>
	</div>
	<!--form-group-->
	<div class="form-group">
		<div class="col-md-5 control-label">
			<label for="input4" class="margin-b-n">Postcode</label>
		</div>
		<div class="col-md-7">
			<input type="number" class="form-control" id="postcode" min="0" ng-model="suCtrl.signUpDetails.postcode">
		</div>
	</div>
	<!--form-group-->

	<div class="row margin-b-xl">
		<div class="col-xs-6">
			<a type="button" class="btn btn-default" ng-click="suCtrl.back()">Back</a>
		</div>
		<div class="col-xs-6 text-right">
			<button type="submit" class="btn btn-primary" >Next</button>
		</div>
	</div>
</form>