<div class="grid-block vertical">
	<div class="grid-content center-panel">
		<div class="page-head">
			<div class="padding-box">
				<h3 class="uppercase title">companies</h3>
			</div>
			<!--padding-box-->
		</div>
		<!--page-head-->

		<div class="padding-box">

			<div class="row">
				<div class="col-lg-7 col-sm-4">
					<input type="text" class="form-control margin-b" placeholder="Search companies">
				</div>
				<!--col-xs-8-->
				<div class="col-lg-2 col-sm-3 col-xs-12">
					<a href="" class="btn btn-default btn-block margin-b"><i class="glyphicon glyphicon-search"></i> Find Prospects</a>
				</div>
				<!--col-xs-2-->
				<div class="col-lg-2 col-sm-3 col-xs-6">
					<a href="" class="btn btn-primary btn-block margin-b-l">+ Add Company</a>
				</div>
				<!--col-xs-2-->
				<div class="col-lg-1 col-sm-2 col-xs-6">
					<div class="dropdown margin-b-l">
						<a id="dLabel" class="btn btn-default btn-block" data-target="#" href="http://example.com" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
							<li><a href="#">Action</a></li>
							<li><a href="#">Action</a></li>
						</ul>
					</div>
					<!--dropdown-->
				</div>
				<!--col-xs-1-->
			</div>
			<!--row-->

			<table class="table mobile-table">
				<thead>
					<tr>
						<th>
							<input type="checkbox">
						</th>
						<th>Name</th>
						<th>Create Date <span class="caret"></span></th>
						<th>First Contact Create Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!--data-title is required for mobile table-->
						<td data-title="Choose">
							<input type="checkbox">
						</td>
						<td data-title="Name"><img src="img/user-photo.jpg" height="25" width="25"> Company</td>
						<td data-title="Create Date">12/12/2015</td>
						<td data-title="First Contact Create Date">12/12/2015</td>
					</tr>
					<tr>
						<!--data-title is required for mobile table-->
						<td data-title="Choose">
							<input type="checkbox">
						</td>
						<td data-title="Name"><img src="img/user-photo.jpg" height="25" width="25"> Company</td>
						<td data-title="Create Date">12/12/2015</td>
						<td data-title="First Contact Create Date">12/12/2015</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!--padding-box-->
	</div>
	<!--grid-content-->
</div>
<!--center panel-->
</div>
<!--grid-block-->