<h4><strong>My Customer History</strong></h4>

<div class="form-group">
	<strong>Opportunities</strong>
	<h5>{{abrbCtrl.countBy.OPP}}</h5>
</div>

<div class="form-group">
	<strong>Active Leads</strong>
	<h5>{{abrbCtrl.countBy.LEAD}}</h5>
</div>

<div class="form-group">
	<strong>Signed Contracts</strong>
	<h5>{{abrbCtrl.countBy.SIGN}}</h5>
</div>

<div class="form-group">
	<strong>Inactive Leads</strong>
	<h5>{{abrbCtrl.countBy.IN}}</h5>
</div>

<a  class="btn btn-primary btn-block" ui-sref="main.newLead({status:'opportunity',group_id: abrbCtrl.$AddressBookRESTService.selectedCompany._id})">New opportunity</a>
