<div class="grid-block vertical">

	<div class="grid-content center-panel">
		<div class="padding-box">
			<div class="row">
				<div class="col-lg-6">
					<h3>Organisation details</h3>

					<form class="form-horizontal" ng-submit="abCtrl.submitEditing()">
						<div class="form-group display-company">
							<label for="input1" class="col-md-3 control-label"><strong class="text-danger">*</strong>Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.name" required>
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.name}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="form-group display-company">
							<label for="input1" class="col-md-3 control-label">Business number</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.businessNumber">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.businessNumber}}</h5>
							</div>
						</div>
						<div class="form-group display-company">
							<label for="input1" class="col-md-3 control-label">Description</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.description">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.description}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="form-group display-company">
							<label for="input2" class="col-md-3 control-label"><strong class="text-danger">*</strong>Industry</label>
							<div class="col-md-9">
								<select ng-if="abCtrl.editing" class="form-control" id="organizationIndustry" name="organizationIndustry" ng-model="abCtrl.editingCompany.industry"
								ng-options="industry as industry.description for industry in abCtrl.industries" required>
									<option></option>
								</select>
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.industry.description}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="form-group display-company">
							<label for="input3" class="col-md-3 control-label">Website</label>
							<div class="col-md-9">
								<input type="text" class="form-control" id="input3" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.website">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.website}}</h5>
							</div>
						</div>

						<div class="form-group display-company">
							<label for="input1" class="col-md-3 control-label">Street address</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.streetName">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.streetName}}</h5>
							</div>
						</div>

						<!--form-group-->
						<div class="form-group display-company">
							<label for="input4" class="col-md-3 control-label"><strong class="text-danger">*</strong>Country</label>
							<div class="col-md-9">
								<select class="form-control" id="country" name="country" required ng-options="country._id as country.name for country in abCtrl.countries"
								ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.country" ng-change="abCtrl.countryChanged(abCtrl.editingCompany)">
									<option></option>
								</select>
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.city.state.country.name}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="form-group display-company">
							<label for="input5" class="col-md-3 control-label">
								<strong class="text-danger">*</strong>State
								<i class="fa fa-spinner pull-right fa-lg " ng-class="{'fa-spin': abCtrl.editingCompany.queryingState}" ng-show="abCtrl.editingCompany.queryingState"></i>
							</label>

							<div class="col-md-9">
								<select class="form-control" ng-disabled="abCtrl.editingCompany.disableState" id="state" name="state" ng-options="state._id as state.name for state in abCtrl.editingCompany.availableStates"
								ng-show="abCtrl.editing" ng-model="abCtrl.editingCompany.state" ng-change="abCtrl.stateChanged(abCtrl.editingCompany)" ng-required="abCtrl.editingCompany.availableStates.length > 0">
									<option value=""></option>
								</select>
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.city.state.name}}</h5>
							</div>
						</div>

						<div class="form-group display-company">
							<label for="input5" class="col-md-3 control-label">
								<strong class="text-danger">*</strong>City
								<i class="fa fa-spinner pull-right fa-lg" ng-class="{'fa-spin': abCtrl.editingCompany.queryingCity}"  ng-show="abCtrl.editingCompany.queryingCity"></i>
							</label>

							<div class="col-md-9">
								<select class="form-control" ng-disabled="abCtrl.editingCompany.disableCity" id="city" name="city" ng-options="city._id as city.name for city in abCtrl.editingCompany.availableCities"
								ng-show="abCtrl.editing" ng-model="abCtrl.editingCompany.city" ng-required="abCtrl.editingCompany.availableCities.length > 0">
									<option value=""></option>
								</select>
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.city.name}}</h5>
							</div>
						</div>

						<!--form-group-->
						<div class="form-group display-company">
							<label for="input5" class="col-md-3 control-label">Suburb</label>
							<div class="col-md-9">
								<input type="text" class="form-control" id="suburb" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.suburb">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.suburb}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="form-group">
							<label for="input5" class="col-md-3 control-label">Postcode</label>
							<div class="col-md-9">
								<input type="text" class="form-control" id="postcode" ng-hide="!abCtrl.editing" ng-model="abCtrl.editingCompany.postcode">
								<h5 ng-show="!abCtrl.editing"> {{abCtrl.$AddressBookRESTService.selectedCompany.postcode}}</h5>
							</div>
						</div>
						<!--form-group-->
						<div class="row" style="margin: 0px">
							<button type="button" ng-show="!abCtrl.editing" class="btn btn-primary pull-right" ng-disabled="abCtrl.matching" ng-click="abCtrl.startEditing()">Change details</button>
							<button type="button" ng-show="abCtrl.editing" class="btn btn-danger pull-left" ng-click="abCtrl.editing = false">Cancel</button>

							<button type="submit" ng-show="abCtrl.editing" class="btn btn-primary pull-right">Save Details</button>
						</div>
				</div>
				<!--col-lg-6-->

				<div class="col-lg-6">
					<h3>Contact <small><a href=""><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  New contact</a></small></h3>
					<div class="panel-group contact-list" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
                                  <input type="checkbox" checked class="select-checkbox" data-toggle="tooltip" data-placement="top" title="Tooltip">
                                    <div class="collapsed title" role="button" data-toggle="collapse" data-parent="#accordion" href="#contact1" aria-expanded="false" aria-controls="collapseTwo" >
                                       Steven Farrugia
                                    </div>
                                  </h4>
							</div>
							<!--panel-heading-->
							<div id="contact1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">

									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a role="tab" data-toggle="tab">Info</a></li>
										<li role="presentation"><a role="tab" data-toggle="tab">Address</a></li>
									</ul>
									<!--nav-->

									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="tab1">
											<br>
											<form class="form-horizontal">
												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input13" class="margin-b-n">First Name</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input13" value="Steven" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input14" class="margin-b-n">Last Name</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input14" value="Farrugia" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="text-right">
													<input type="button" value="Edit info" class="btn btn-primary">
												</div>
											</form>
										</div>
										<!--tabpanel-->
										<div role="tabpanel" class="tab-pane" id="tab2">
											<br>
											<form class="form-horizontal">
												<div class="form-group">
													<div class="col-md-3 control-label line-height-1 padding-t-n">
														<label for="input6" class="margin-b-n">Country </label>
														<div class="checkbox padding-t-n">
															<label>
																<input type="checkbox" checked><small class="x-small">same as organistaion</small>
															</label>
														</div>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input6" value="Australia" readonly>
													</div>
												</div>
												<!--form-group-->
												<div class="form-group">
													<div class="col-md-3 control-label line-height-1 padding-t-n">
														<label for="input7" class="margin-b-n">City</label>
														<div class="checkbox padding-t-n">
															<label>
																<input type="checkbox" checked><small class="x-small">same as organistaion</small>
															</label>
														</div>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input7" value="Geelong" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input8" class="margin-b-n">Office Number</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input8" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input9" class="margin-b-n">Street Number</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input9" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input10" class="margin-b-n">State</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input10" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input11" class="margin-b-n">Suburb</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input11" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="form-group">
													<div class="col-md-3 control-label">
														<label for="input12" class="margin-b-n">Postal / Zip code</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="input12" readonly>
													</div>
												</div>
												<!--form-group-->

												<div class="text-right">
													<input type="button" value="Edit address" class="btn btn-primary">
												</div>
											</form>
										</div>
										<!--tabpanel-->
									</div>
									<!--tab-content-->
								</div>
								<!--panel-body-->
							</div>
							<!--panel-collapse-->
						</div>
						<!--panel-->
					</div>
					<!--panel-group-->
				</div>
				<!--col-lg-6-->
			</div>
			<!--row-->

			<br>
			<br>
		</div>
	</div>
</div>